.header {
   grid-area: h;
   background-color:rgb(0, 74, 170);
   padding: 10px;
   }
   .header img {
   width: 80px;
   }
   .loginBlock {
      float: right;
   }
   .loginBlock a {
      color: white;
   }